  
.popupBox0 {
  background-color: white;
  width: 500px;
  height: 250px;
  border-radius: 15px;
}

.popupBox1 {
  background-color: white;
  width: 500px;
  height: 250px;
  border-radius: 15px;
}

.popupHeader {
  display: table-cell;
  background-color: #e2e2e2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 30px;
}

.passBtn {
  position: relative;
  color: white;
  background-color: #c82a2a;
  border-color: #c82a2a;
  left: 20%;
}

.popupText {
  font-size: 20px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.popupText-where {
  display: inline;
}

#passBtn2-1 {
  z-index: 20;
  bottom: 290px;
}