.sendBoxContainer {
  display: none;
  position: relative;
  z-index: 1000;
}

.sendContent {
  width: 400px;
  height: 150px;
  background-color: #e2e2e2;
  border-radius: 15px;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
}

.sendText {
  padding: 10px;
}

#sendTextH {
  font-size: 22px;
}

.close {
  position: relative;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 370px;
  cursor: pointer;
  z-index: 1000;
}