/* handle exceptional cases */
.schedule {
  cursor: pointer;
  display: flex;
  align-items: center;
}


.schedule-button {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  display: none;
  margin-right: 5%;
}