.passWindow {
  background-color: #ffffff;
  width: 500px;
  height: 300px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0px;
}

.inputBox {
  width: 400px;
  height: 150px;
  margin: 20px;
  margin-left: 35px;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  border-radius: 20px;
  font-size: 18px;
  padding-left: 20px;
  vertical-align: top;
  line-height: 100px;
}

.passBtn2 {
  display: none;
  position: relative;
  color: white;
  background-color: #c82a2a;
  border-color: #c82a2a;
  right: 10px;
  bottom: 70px;
}
