.feedback_col0 {
  left: -14.3%;
}
.feedback_col1 {
  left: 0%;
}
.feedback_col2
 {
  left: 14.3%;
}
.feedback_col3 {
  left: 28.6%;
}
.feedback_col4 {
  left: 42.9%;
}
.feedback_col5 {
  left: 57.2%;
}
.feedback_col6 {
  left: 71.5%;
}