*{
  
  margin: 0;
  padding : 0;
  box-sizing : border-box;

}

body {
  font-family:sans-serif;
  background-color: rgb(255, 255, 255);


}
.icon {
  image-rendering: auto;
  align-content: center;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  /* height: 50vh; */
  filter: drop-shadow(2px 4px 4px #5555);

  overflow: hidden;
  
  margin-top: 50px;
  margin: 100 auto;
  padding-top: 20 px;
  padding: 15 px;

}

.flexbox .board {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px;
  border-radius: 7px;
  width: 100%;
  max-width: 600px;
  background-color: rgb(255, 255, 255);

  padding: 15px;
}

#board-1 {
  height: 60vh;
  position:relative;
 
  /* border-radius: 50 px; */
}

#board-2 {
  height: 50vh;
  margin-left: 10px;
  position:relative;
   /* top: 60%;
   right: 50%; */
  /* border-radius: 10 px; */
}

#board-3 {
  height: 40vh;
   margin-top: 70%;
   margin-left: 10px;
   position:relative;
   top: 60%;
   right: 50%;

   /* border-radius: 10 px; */
}

#board-4{
  height: 50vh;
  margin-top: 60%;
  position:relative;
   top: 60%;
   right: 50%;
  /* border-radius: 10 px; */
}



.flexbox .board .card {
  padding: 15px 25px;
  background-color:rgb(255, 250, 206);
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 15px;

}