body {
  font-family: Tahoma;
}

header {
  text-align: center;
}

#calendar-box {
  width: 100%;  
}


#header-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

#calendar-add {
  font-size: 40px;
  border: 2px solid gray;
  float: left;
  border-radius: 10px;
  cursor: pointer;
}

#calendar-changemonth button{
  margin-top: 10px;
  font-size: 30px;
  border: 2px solid;
  float: right;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

#calendar-add-plus {
  font-size: 40px;
}

#calendar-monthyear {
  height: 60px;
  font-size: 40px;
  text-align: center;
}

#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#calendar li {
  display: block;
  float: left;
  width:14.342%;
  padding: 5px;
  box-sizing:border-box;
  border: 1px solid lightgray;
  margin-right: -1px;
  margin-bottom: -1px;
}



#calendar .days li {
  height: 180px;
}

#calendar .days li:hover {
  background: #d3d3d3;
}

#calendar .days li .weekdays {
  margin: auto;
  font-size: 15px;
  text-align: center;
}

#calendar .date {
  text-align: center;
  margin: auto;
  padding: 4px;
  color: black;
  width: 20px;
  border-radius: 50%;
}

#calendar .event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
  cursor: pointer;
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}


#calendar-add-popup {
  position: absolute;
  top: 210px;
  left: 340px;
  width: 320px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
}

#popup-component {
  padding-top: 50px;
  margin: auto;
  width: 300px;
  height: 500px;

} 

#popup-title {
  display: block;
  margin: auto;
  top: 20px;
  width: 270px;
  height: 40px;
  cursor: text;
  border: 1px solid black;
  font-size: 15px;
  margin-bottom: 30px;
}


.popup-button {
  width: 60px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px;
}

#popup-button-close{
  position: absolute;
  left: 270px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-bottom: none;
  align-self: right;
}

#popup-button-work {
  margin-left: 10px;
  margin-right: 14px;
}

#popup-button-work:hover {
  background-color: #fffdc6;
}

#popup-button-family {
  margin-right: 14px;
}

#popup-button-family:hover {
  background-color: #c8f7f4;
}

#popup-button-private {
  margin-right: 14px;
}

#popup-button-private:hover {
  background-color: #ffdcfb;
}

#popup-button-other:hover{
  background-color: lightgray;
}


#popup-time-wrap {
  margin-left: 10px
}

.popup-time {
  width: 122px;

}

#popup-description {
  margin-left: 10px;
  margin-top: 30px;
  width: 270px;
  height: 200px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 30px;
}


#popup-submit {
  position: absolute;
  left: 240px;
  top: 450px;
  background-color: gray;
}