.headerContainer {
  border-bottom: 1px solid lightgray;
  
}

.menubarContainer {
  float: left;
  width: 20%;
}

.calendarContainer {
  float: left;
  width: 75%;
  margin-left: 2.5%;
}

/* #category-project {
  font-size:20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #ffffb0;
} */

/* #send {
  position: fixed;
  background-color: lightblue;
  border-radius: 15px;
  top: 700px;
  left: 1350px;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-left: 70px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
} */