.headerContainer {
  border-bottom: 1px solid lightgray;
}

.menubarContainer {
  float: left;
  width: 20%;
}

.calendarContainer {
  float: left;
  width: 75%;
  margin-left: 2.5%;
}

#category-project {
  font-size:20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #ffffb0;
  
}