.projectmenuContainer {
  float: left;
  width: 21%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border-bottom: 1px solid lightgray; */
}

.timelineContainer {
  position: relative;
  /* top: -20px; */
  float: left;
  width: 77%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 740px;
  white-space: nowrap;
  font-family: abel;
}

.dayweek {
  margin-top: 20px;
}

.date {
  margin-top: 10px;
}

.today {
  position: relative;
  /* padding: 12px; */
  border-radius: 50px;
  /* opacity: 65%; */
  width: 60px;
  height: 60px;
  left: 47px;
  top: -54px;
  border: 3px solid palevioletred;
}

.timelineContainer ul {
  margin: 0px;
  /* padding-bottom: 10px; */
  padding-left: 5px;
  list-style: none;
  top: -20px;
  /* border-bottom: 1px solid lightgray; */
  /* margin-bottom: 10px; */
}

.timelineContainer li {
  width: 160px;
  border-left: 1.5px solid rgba(0, 0, 0, 0.795);
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
  height: 740px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.projecttask {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.familyschedule {
  position: relative;
  width: 150px;
  background-color: #c8f7f4;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  left: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px #dadce0;
}

.workschedule {
  position: relative;
  width: 150px;
  background-color: #fffdc6;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  left: 5px;
  top: 30px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px #dadce0;
}

.privateschedule {
  position: relative;
  width: 150px;
  background-color: #ffdcfb;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  left: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px #dadce0;
}

.workschedule:hover {
  opacity: 0.8;
}

.familyschedule:hover {
  opacity: 0.8;
}

.privateschedule:hover {
  opacity: 0.8;
}

#sch1 {
  position: relative;
  top: -330px;
  left: 10px;
}

#sch2 {
  position: relative;
  left: 170px;
  top: -690px;
}

#sch3 {
  position: relative;
  left: 170px;
  top: -680px;
}

#sch4 {
  position: relative;
  left: 335px;
  top: -450px;
}

#sch5 {
  position: relative;
  left: 818px;
  top: -570px;
}

#sch6 {
  position: relative;
  left: 980px;
  top: -660px;
}

#sch7 {
  position: relative;
  left: 655px;
  top: -570px;
}

#sch8 {
  position: relative;
  left: 1305px;
  top: -930px;
}

#sch9 {
  position: relative;
  left: 818px;
  top: -970px;
}

#sch10 {
  position: relative;
  left: 495px;
  top: -820px;
}

#sch11 {
  position: relative;
  left: 655px;
  top: -1050px;
}

#sch12 {
  position: relative;
  left: 818px;
  top: -900px;
}

#sch13 {
  position: relative;
  left: 1625px;
  top: -800px;
}

#sch14 {
  position: relative;
  left: 2110px;
  top: -975px;
}

#sch15 {
  position: relative;
  left: 1625px;
  top: -1210px;
}

#sch16 {
  position: relative;
  left: 1785px;
  top: -1050px;
}

#sch17 {
  position: relative;
  left: 335px;
  top: -1290px;
}

#sch18 {
  position: relative;
  left: 335px;
  top: -1280px;
}

#sch19 {
  position: relative;
  left: 170px;
  top: -1270px;
}

#sch20 {
  position: relative;
  left: 655px;
  top: -1040px;
}

#holiday {
  color: red;
}

#popupsch1 {
  display: none;
  position: absolute;
  top: 460px;
  left: 10px;
}

#popupsch4 {
  display: none;
  position: absolute;
  top: 460px;
  left: 335px;
}

#popupsch10 {
  display: none;
  position: absolute;
  top: 335px;
  left: 495px;
}

#popupsch2,
#popupsch3,
#popupsch4,
#popupsch5,
#popupsch6,
#popupsch7,
#popupsch8,
#popupsch9,
#popupsch10,
#popupsch11,
#popupsch12,
#popupsch13,
#popupsch14,
#popupsch15,
#popupsch16,
#popupsch17,
#popupsch18,
#popupsch19,
#popupsch20 {
  /* display: none; */
  display: none;
}

/* #project1_1 {
  position: relative;
  left: 50px;
  width: 300px;
  background-color: #c4c4c4;
}

#project1_2 {
  position: relative;
  left: 350px;
  width: 200px;
  background-color: #c4c4c4;
}

#project1_3 {
  position: relative;
  left: 900px;
  width: 250px;
  background-color: #c4c4c4;
}

#project2_1 {
  width: 100px;
  background-color: #ffd8d8;
}

#project2_2 {
  position: relative;
  left: 100px;
  width: 350px;
  background-color: #ffd8d8;
}

#project2_3 {
  position: relative;
  left: 500px;
  width: 350px;
  background-color: #ffd8d8;
}

#project2_4 {
  position: relative;
  left: 1050px;
  width: 400px;
  background-color: #ffd8d8;
}

#project3_1 {
  margin-left: 300px;
  width: 200px;
  background-color: #fff6d6;
}

#project3_2 {
  position: relative;
  left: 450px;
  width: 300px;
  background-color: #fff6d6;
}

#project3_3 {
  position: relative;
  left: 900px;
  width: 300px;
  background-color: #fff6d6;
}

#project4_1 {
  margin-left: 50px;
  width: 600px;
  background-color: #e5fff9;
}

#project4_2 {
  position: relative;
  left: 700px;
  width: 400px;
  background-color: #e5fff9;
}

#project4_3 {
  position: relative;
  left: 1050px;
  width: 150px;
  background-color: #e5fff9;
}

#project4_4 {
  position: relative;
  left: 1300px;
  width: 300px;
  background-color: #e5fff9;
} */
