.request-wrap {
  background-color: lightgray;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;
  font-family: abel;
}

.request {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.request-arrived {
  font-weight: bold;
  font-size: 17px
}
.request-content {
  font-size: 13px;
}

.request-view {
  border: none;
  font-size: 15px;
  align-self: flex-end;
  cursor: pointer;
}

.request-message-wrap {
  position: absolute;
  background-color: white;
  box-shadow: rgb(173, 173, 173) 1px 3px 3px ;
  padding-left: 5%;
  left: 300px;
  top:  0px;
  width: 300px;  
  border-radius : 15px;
  z-index: 100;

  display: flex;
  flex-direction: column;
}


.request-message-default {
  width: 90%;
  display : flex;
  flex-direction: column;
}
.request-body-wrap {
  display: flex;
  flex-basis: 30px;
}
.request-body-button-wrap {
  flex-basis: 30px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}
.request-body-header-wrap {
  flex-basis: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.request-message-header {
  font-size: 30px;
  margin-top: 2%;
  margin-left: 5%;
}

.request-body-message-wrap {
  flex-basis: 30px;

  display: flex;
  flex-direction: column;
}

.request-body-subject {
  font-weight: bold;
  flex-basis: 70px;
}

.request-body-subject-message {
  font-weight: bold;
}

.request-body-message {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  background-color: #f0f0f0;
  border-radius : 15px;
  height: 80px;
  font-size: 15px;
}

.request-message-default p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.request-message-close {
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  border: none;
}

.request-message-button-accept {
  margin-right : 10px;
}

.request-message-deny {
  width: 90%;
  display : flex;
  flex-direction: column;

}

.request-body-textarea {
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
  border-radius : 15px;
  border: none;
  box-shadow: rgb(173, 173, 173) 1px 1px 3px;
  resize: none;
  font-family:arial;
  font-size: 15px;
}


