.mainbox-sidemenu {
  padding-right: 20px;
}

.mainbox-sidemenu-left-text {
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}

.sidemenu-category {
  height: 20px;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 40px;
  cursor: pointer;
}

#category-project {
  text-align: center;
  margin-left: 40px; 
}


.sidemenu-left-border {
  margin-left: 30px;
  border-bottom: 2px solid lightgray;
}

#category-all-true {
  background-color: #D2FFD1;
}

#category-work-true {
  background-color: #fffdc6;
}

#category-family-true {
  background-color: #c8f7f4;
}

#category-private-true {
  background-color: #ffdcfb;
}
