@font-face {
  font-family: "Abel";
  src: url(../../Font/Abel-Regular.ttf);
}
@font-face {
  font-family: "Promp-Thin";
  src: url(../../Font/Prompt-ThinItalic.ttf);
}
@font-face {
  font-family: "Promp-Mid";
  src: url(../../Font/Prompt-Light.ttf);
}
@font-face {
  font-family: "Questrial";
  src: url(../../Font/Questrial-Regular.ttf);
}

.mainbox-sidemenu {
  display: flex;
  flex-direction: column;
  height: 1400px; 
  padding-right: 20px;
  border-right: 1px solid lightgray;

}

.mainbox-sidemenu-left-text {
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Abel;
}

.sidemenu-category {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 18px;
  font-family: Promp-Mid;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 25px;
  cursor: pointer;
}

.sidemenu-category-text {
  padding-top: 3px;
  flex-basis: 30%;
}
.sidemenu-category-img {
  padding-left: 10px;
  padding-top: 3px;
}

.category-project {
  text-align: center;
  margin-top: 20px;
  margin-left: 20px; 
  flex-basis: 50px;
  background-color: white;
}

.default-link{
  font-family: Questrial;
  font-size: 18px;
  font-weight: 500;
}

.sidemenu-left-border {
  margin-top: 20px;
  margin-left: 30px;
  border-bottom: 2px solid lightgray;
}

#category-all-true {
  background-color: #D2FFD1;
}

#category-work-true {
  background-color: #fffdc6;
}

#category-family-true {
  background-color: #c8f7f4;
}

#category-private-true {
  background-color: #ffdcfb;
}

.category-help {
  margin-top: 30px;
  margin-left: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.stress {
  font-weight: bolder;
  font-size: 24px;
  color: skyblue;
}

#notification-box {
  margin-left: 10%;
}

#notifications {
  font-size: 18px;
  margin-left: 20px;
}

#category-send {
  /* height: 40px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #c8f7f4; */
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#send-wrap {
  position: absolute;
  left: 320px;
  top: 540px;
  width: 420px;
  background-color: #c8f7f4;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 100;
  
}

.send-body-wrap {
  flex-basis: 30px;
  margin-left: 5%;
  margin-bottom: 20px;
  display: flex;
}

.send-body-schedule-wrap {
  margin-left: 5%;
  flex-basis: 30px;
  display: flex;
  margin-bottom: 20px;
}

.send-body-message-wrap {
  flex-basis: 30px;
  margin-left: 5%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.send-body-button-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#sendContext {
  width: 95%;
  height: 60px;
  resize: none;
  border-radius: 15px;

}

.send-body-subject {
  font-weight: bold;
  flex-basis: 100px;
}

.send-body-message-text {
  font-weight: bold;
  margin-bottom: 2%;
}

#send-button-close {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 5%;
  margin-top: 20px;
  border: none;
  cursor:pointer;
}

#send-button-send {
  font-size: 15px;
  margin-right: 5%;
  border: none;
  width : 60px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.send-body-pass-subject {
  font-weight: bold;
  flex-basis: 100px;
}