.projectMenu {
  height: 550px;
}

.projectHeaderText {
  font-size: 28px;
  margin-left: 30px;
}

.projectAddBtn {
  font-size: 24px;
  border: 2px solid gray;
  float: right;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.projectmenu-category {
  text-align: center;
  margin: 0px;
  /* width: 300px; */
  height: 100px;
  line-height: 100px;
  font-size: 24px;
}

#project1 {
  background-color: #c4c4c4;
}

#project2 {
  background-color: #ffe5e5;
}

#project3 {
  background-color: #fff7d9;
}

#project4 {
  background-color: #e5fff9;
}

.doneprojectBtn {
  position: fixed;
  width: 160px;
  text-align: center;
  font-size: 18px;
  border: 2px solid gray;
  border-radius: 10px;
  justify-content: center;
}
