/* .headerContainer {
  border-bottom: 1px solid lightgray;
} */

.projectmenuContainer {
  float: left;
  width: 23%;
  /* border-bottom: 1px solid lightgray; */
}

.timelineContainer {
  position: relative;
  top: -20px;
  float: left;
  width: 77%;
}

#banner {
  float: right;
  position: relative;
  top: -30px;
  left: -30px;
}

#closeBtn {
  font-size: 25px;
  position: relative;
  top: -80px;
  left: 280px;
  float: right;
  width: 100px;
  border-width: 0px;
  background-color: white;
}

.doneprojectBtn {
  position: fixed;
  margin-left: 120px;
  /* display: flex; */
  margin-top: 140px;
  /* align-items: flex-end; */
  justify-content: center;
}
